@import "~materialize-css/dist/css/materialize.min.css";

.margin-10 {
    margin-right: 10px;
}

/*.my-4 {*/
/*    margin-top: 1.5rem!important;*/
/*    margin-bottom: 1.5rem!important;*/
/*}*/
.list-unstyled {
    padding-left: 0;
    list-style: none
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.media-body {
    -ms-flex: 1;
    flex: 1;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem !important;
}

.padding-nav {
    padding: 0 2rem;
}

.padding-film-image {
    padding: 2.3rem;
}

nav {
    background-color: #607d8b
}

.rating {
    position: absolute;
    top: 2px;
    right: 30px;
}

.margin-sort {
    margin-left: 5rem;
}

.margin-top-15 {
    margin-bottom: 1.5rem;
}

.avatar-img {
    border: solid 1px #4d4a4e;
}

/*textarea {*/
/*    resize: none;*/
/*}*/

.film-rating {
    color: #ffb400;
    cursor: pointer;
    display: inline-flex;
    position: relative;
    font-size: 1.5rem;
    text-align: left;
}

.delete-film-red :hover {
    cursor: pointer;
    color: red;
}

.delete-film-green :hover {
    cursor: pointer;
    color: green;
}

.date-height {
    height: 370px;
}

.padding-date {
    padding-left: 45px;
}

.padding-artist-params {
    padding-left: 15px;
}

.padding-film-params {
    padding-left: 60px;
}

.hover-button :hover {
    color: red;
}


