@import "~materialize-css/dist/css/materialize.min.css";
/*@import "~materialize-css/dist/css/materialize.css";*/

.margin-10 {
    margin-right: 10px;
}

.padding-nav {
    padding: 0 2rem;
}

nav {
    background-color: #607d8b
}
